
    
            <a href=@project.GitHubLink target="_blank">
    <div class="project" >
            
        <div class="projimg">
                <img src="css/images/projects/@project.Icon" width="300" height="200">
        </div>

        <div class="projdesc">
            @if (Polish)
            {
                <p>@project.DescPl</p>
            }
            else
            {
                <p>@project.Description</p>
            }
        </div>
            <div class="projtags">
                @{
                    if (project.Tags != null)
                    {
                        foreach (var item in project.Tags)
                        {
                            
                            <Tag Name="@item" />
                            
                        }
                    }

                }
            </div>
    </div>
                </a>
    
    @code {

        [Parameter]
        public ProjectModel project { get; set; }
        [Parameter]
        public bool Polish {get; set;}

    }
