@inject HttpClient Http

<SortPanel SortChange=UpdateActiveValues/>
<div id="projects">

    @{
        if (projects != null)
        {
            foreach (var item in projects)
            {
                if(ShouldBeVisible(item.Tags)){<Project project=item/>}

            }
        }

    }
</div>

@code {
    public Dictionary<string,bool> shows = new Dictionary<string, bool>();

    public void UpdateActiveValues(Dictionary<string,bool> dict) => shows = dict;
    public ProjectModel[] projects;
    public bool show = true;
    protected override async Task OnInitializedAsync()
    {
        projects = await Http.GetFromJsonAsync<ProjectModel[]>("data/Projects.json");

    }
    public bool ShouldBeVisible(string[] tags)
    {
        if (shows.ContainsValue(true))
        {
            foreach (var item in tags)
            {
                if (shows.GetValueOrDefault(item.ToUpper())) return true;
            }
            return false;
        }
        else
        {
            return true;
        }

    }


}
