<div class="tech">
        <img class="techicon" width="50" height="50" src="css/images/Techs/@Icon"/>
        <Tag Name=@Name/>
</div>

@code {
    [Parameter]
    public string Name{ get; set;}
    [Parameter]
    public string Icon {get; set;}
}
