@page "/"

<div id="main">
    
    <div id="top">

        <div>
            <img id="logo" src="css/images/logo_2.0.svg" width="50" height="100">
        </div>
        <div id="name">
            <p id="upperName">Konrad (SadOnion) Gumny</p><p id="bottomName">Software Developer</p>

        </div>
    </div>
    <div id="navbar">
        <AnchorLink href="#About">Introduction</AnchorLink>
        <AnchorLink href="#Tech">Technologies</AnchorLink>
        <AnchorLink href="#Projects">Projects</AnchorLink>
        <div id="git"><a href="https://www.github.com/SadOnion" target="_blank"><img src="css/images/GitHub.png"  /></a></div>
    </div>

    <div class="section">
        <p id="About" class="header">Introduction</p>
        <p style="margin:auto;">
            I'm studying Computer Science on Wrocław University of Science and Technology,
            I've just finished my 2nd year. I specialize in software development my favorite technologies are .Net and Unity
            especialy I love making games. I've made a couple of small games some of them during game jam
            (Special events where game developers around a world are trying to make a game from scratch in a short amount of time).
            Project that I'm most proud of is AutoReforge modification to a popular game Terraria which have been already downloaded
            over 63 500 times. I'm looking to gain knowledge in all fields of software development to become a true specialist
            in the field.
        </p>
    </div>
    <div class="section">
        <p id="Tech" class="header">Technologies</p>
        <p style="margin:auto;">Here is a list of technologies that I'm familiar</p>
        <Technologies />
    </div>
    <div class="section">
        <p id="Projects" class="header">Projects</p>
        <Projects />
    </div>
    <div id="footer">
        <p>Contact: gumny.konrad@gmail.com</p>
    </div>

</div>
