@page "/"

<div id="main">
    <div id="top">

        <div>
            <img id="logo" src="css/images/logo2.svg" width="50" height="100">
        </div>
        <div id="name">
            <p id="upperName">Konrad (SadOnion) Gumny<p id="bottomName">Software Developer</p></p>

        </div>
    </div>
    <div id="navbar">
        <a href="#About">Start</a>
        <a href="#Tech">Technologies</a>
        <a href="#Projects">Projects</a>
    </div>

    <div class="section">
        <p id="About" class="header">About me</p>
        <p>Hi I'm Konrad Gumny also known as Sad Onion,Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu erat placerat, euismod ligula in, tincidunt felis. Mauris condimentum felis quis ex ornare blandit. Nulla augue enim, elementum a cursus id, varius ut enim. Vestibulum euismod nisl at dolor finibus sagittis. Nunc euismod sollicitudin leo, a facilisis arcu lobortis sit amet. Pellentesque tempus nec turpis at consequat. Aenean volutpat posuere efficitur. Phasellus ultrices lacus a massa hendrerit faucibus. Phasellus vulputate mauris vitae tellus placerat, ut dictum erat fringilla. Sed bibendum lectus nec eros convallis, a tincidunt sapien dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;  </p>
    </div>
    <div class="section">
        <p id="Tech" class="header">Technologies</p>
        <p>Here is a list of technologies that I'm familiar</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu erat placerat, euismod ligula in, tincidunt felis. Mauris condimentum felis quis ex ornare blandit. Nulla augue enim, elementum a cursus id, varius ut enim. Vestibulum euismod nisl at dolor finibus sagittis. Nunc euismod sollicitudin leo, a facilisis arcu lobortis sit amet. Pellentesque tempus nec turpis at consequat. Aenean volutpat posuere efficitur. Phasellus ultrices lacus a massa hendrerit faucibus. Phasellus vulputate mauris vitae tellus placerat, ut dictum erat fringilla. Sed bibendum lectus nec eros convallis, a tincidunt sapien dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;</p>
    </div>
    <div class="section">
        <p id="Projects" class="header">Projects</p>
        <Projects />
    </div>

</div>
