@page "/Pl"

<div id="main">
    <div id="flags"><a href=" "><img src="css/images/flags/UK.svg" width="60" height="30" /></a><a href="Pl"><img src="css/images/flags/PL.svg" width="60" height="30" /></a></div>
    <div id="top">

        <div>
            <img id="logo" src="css/images/logo_2.0.svg" width="50" height="100">
        </div>
        <div id="name">
            <p id="upperName">Konrad (SadOnion) Gumny<p id="bottomName">Software Developer</p></p>

        </div>
    </div>
    <div id="navbar">
        <AnchorLink href="#About">Wstęp</AnchorLink>
        <AnchorLink href="#Tech">Technologie</AnchorLink>
        <AnchorLink href="#Projects">Projekty</AnchorLink>
        <div id="git"><a href="https://www.github.com/SadOnion" target="_blank"><img src="css/images/GitHub.png" /></a></div>
    </div>

    <div class="section">
        <p id="About" class="header">Wstęp</p>
        <p style="margin:auto;">
            Jestem studentem Politechniki Wrocławskiej,
            właśnie skończyłem 3 rok. Specjalizuje się w wytwarzaniu oprogramowania, moje ulubione technologie to .Net i Unity
            szczególnie lubię tworzyć gry. Zrobiłem kilka małych gier, niektóre z nich podczas game jamów
            (Specjalne wydarzenia gdzie twórcy gier z całego świata próbują stworzyć grę od zera w krótkim przedziale czasowym).
            Projekt z którego jestem najbardziej zadowolony to AutoReforge modyfikacja do popularnej gry Terraria który został już pobrany ponad
            175 000 razy. Staram się zdobywać więdze z różnych dziedzin wytwarzania oprogramowania aby zostać prawdziym specjalistą w tej dziedzinie.
        </p>
    </div>
    <div class="section">
        <p id="Tech" class="header">Technologie</p>
        <p style="margin:auto;">Oto lista technologi z którymi jestem obeznany</p>
        <Technologies Polish="true" />
    </div>
    <div class="section">
        <p id="Projects" class="header">Projekty</p>
        <Projects Polish="true"/>
    </div>
    <div id="footer">

    </div>

</div>
